body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: white !important;
}

.ant-picker-outlined:focus-within{
  background-color: white !important;
}

.custom-flex .ant-typography, .custom-flex .ant-tag {
  font-size: inherit;
}